body{
  background-color:#FF5555;
  font-family: 'Raleway', sans-serif;
}
#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


h3{
  color:white;
  font-weight:500;
  font-size:20px;
}
.outside{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:550px;
  height:550px;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #4d90fe 0%,#4d90fe 50%,#eee 50%,#eee 100%);

}
.inside {
  padding: 40px;
  width: 274px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.inside input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}


.inside input[type="text"]:invalid {
  color: red;
}

.inside input[type="text"]:invalid ~ .input-validation:after{
  content: "Invalid Email";  
  color: red;
}


.inside input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border: 0;
  border-bottom: 2px solid #4d90fe;
  padding: 0 8px;
}


.login-text {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  height: 36px;
  padding: 0 8px;
  border-radius:5%;
  background-color: #4d90fe;
  margin-top:20px;
}


.checkbox-label,checkbox {
  float:left;
  text-align: right;
  font-size: 12px;
  color: #999999;
  margin-bottom:20px;
}
.inside a {
  text-decoration:none;
  width: 100%;
  font-size: 12px; 
  color:#4d90fe;
}

.forget{
  padding-left : 20px; 
  float:right;
  font-size: 12px;
  font-color: #000;
}
.forget a{
  color:#999
}

input:focus {
  outline:none;
}